# Application
PROJECT_NAME="YCPA Backend API"
API_V1_PREFIX="/api/v1"
DEBUG=True

# Server
HOST=127.0.0.1
PORT=8000

# Database
DATABASE_URL="sqlite+aiosqlite:///./ycpa.db"
# DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/ycpa_db"
