# Application
PROJECT_NAME="YO Backend API"
API_V1_PREFIX="/api/v1"
DEBUG=True

# Server
HOST=127.0.0.1
PORT=8000

# Database
DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/yo_db"
