# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Environment files
.env

# Database & SQLite files
*.db
*.sqlite3
storage/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
